* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
	--color-1: #eee;
	--color-2: #000;
	--gradient-direction: to right;
}

body {
  margin: 0;
}

main, header {
	padding: 0 1em;
}

#gradient-background {
  height: 50vh;
	background: linear-gradient(var(--gradient-direction), var(--color-1), var(--color-2));
	transition: .5s;
}

#gradient-direction {
	border: none;
	font-size: inherit;
}

#color-1-display, #color-2-display {
	width: 0.8em;
	height: 0.8em;
	margin:0 0.2em;
	display: inline-block;
}

#color-1-display {
	background-color: var(--color-1);
}

#color-2-display {
	background-color: var(--color-2);
}
/* Button Styling */
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-image: linear-gradient(rgb(0, 140, 255), rgb(0, 140, 255));
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background-image: linear-gradient(rgb(0, 162, 255), rgb(0, 140, 255));
}

button:active {
  transform: scale(0.97);
}
/* ----------- */
